<div class="confrontation" id="confrontation-predic">
    <div class="container-team">
        <div class="team">
            <img src="{{ match.home_team.logo }}" alt="">
        </div>
        <div class="name-team"> 
            {{ match.home_team.name }}
        </div>
    </div>
    <div class="date-score"> 
        <div class="date">
            {{ match.date|date:"d/m/Y" }}
            {{ match.kickoff|time:"H:i" }} 
        </div>
        <div class="league">
            {{ match.competition }}    
        </div>
        <div class="phase">
            {{ match.phase }}
        </div>
        <div class="score">
            {{ match.home_score }}
            -
            {{ match.away_score }}
        </div>
    </div>
    <div class="container-team">
        <div class="team">
            <img src="{{ match.away_team.logo }}" alt="">
        </div>
        <div class="name-team"> 
            {{ match.away_team.name }}
        </div>
    </div>
</div>