<div class="container-recurrent">
    <div class="grid-prediction">
        <div>
            <div class="grid-form-title">
                Early Thoughts
            </div>
            
            <div class="grid-form" id="content-predic1-1">
                <span class="title-prediction">Margin:</span>
                <input class="cursor-slider" type="range" min="-50" max="50" value="0" oninput="rangeValueM1.innerText = this.value">
                <p class="cursor-value" id="rangeValueM1">/</p> 
            </div>
            
            <div class="grid-form" id="content-predic1-2">
                <span class="title-prediction">Total:</span>
                <input class="cursor-slider" type="range" min="0" max="100" value="50" oninput="rangeValueT1.innerText = this.value">
                <p class="cursor-value" id="rangeValueT1">/</p>
            </div>
            <div class="grid-form-message" id="confirmationMsg1">

            </div>
            <div class="grid-form-button">
                <button> Validate </button>
            </div>
        </div>

        <div>
            <div class="grid-form-title">
                Early Thoughts
            </div>
            
            <div class="grid-form" id="content-predic2-1">
                <span class="title-prediction">Margin:</span>
                <input class="cursor-slider" type="range" min="-50" max="50" value="0" oninput="rangeValueM2.innerText = this.value">
                <p class="cursor-value" id="rangeValueM2">/</p>
            </div>
            
            <div class="grid-form" id="content-predic2-2">
                <span class="title-prediction">Total:</span>
                <input class="cursor-slider" type="range" min="0" max="100" value="50" oninput="rangeValueT2.innerText = this.value">
                <p class="cursor-value" id="rangeValueT2">/</p>
            </div>
            <div class="grid-form-message" id="confirmationMsg2">

            </div>
            <div class="grid-form-button">
                <button> Validate </button>
            </div>
        </div>
    </div>
</div>

<!--div class="grid-prediction">
    <div>
        <div class="grid-form-title">
            Early Thoughts
        </div>
        
        <div class="grid-form" id="content-predic1-1">
            <span class="title-prediction">Margin:</span>
            <div class="container-select">
                <div class="select predic">
                    <div class="selected"></div>
                    <div class="caret predic"></div>
                </div>
                <div class="val predic">
                    <div class="val-scrollbar predic">
                    </div>  
                </div>  
            </div>
        </div>
        
        <div class="grid-form" id="content-predic1-2">
            <span class="title-prediction">Total:</span>
            <div class="container-select">
                <div class="select predic">
                    <span class="selected"></span>
                    <div class="caret predic"></div>
                </div>
                <div class="val predic">
                    <div class="val-scrollbar predic">
                    </div>  
                </div>  
            </div>
        </div>
        <div class="grid-form-message" id="confirmationMsg1">

        </div>
        <div class="grid-form-button">
            <button> Validate </button>
        </div>
    </div>

    <div>
        <div class="grid-form-title">
            Early Thoughts
        </div>
        
        <div class="grid-form" id="content-predic1-1">
            <span class="title-prediction">Margin:</span>
            <div class="container-select">
                <div class="select predic">
                    <div class="selected"></div>
                    <div class="caret predic"></div>
                </div>
                <div class="val predic">
                    <div class="val-scrollbar predic">
                    </div>  
                </div>  
            </div>
        </div>
        
        <div class="grid-form" id="content-predic1-2">
            <span class="title-prediction">Total:</span>
            <div class="container-select">
                <div class="select predic">
                    <span class="selected"></span>
                    <div class="caret predic"></div>
                </div>
                <div class="val predic">
                    <div class="val-scrollbar predic">
                    </div>  
                </div>  
            </div>
        </div>
        <div class="grid-form-message" id="confirmationMsg1">

        </div>
        <div class="grid-form-button">
            <button> Validate </button>
        </div>
    </div>
</div-->