{% load static %}

<div class="container-recurrent">
    <div class="grid-last-com">
        <div class="border-latest-com">
            Last comment:
        </div>
        <div class="border-latest-com">
            {% if latest_comment != None %}
                {{ latest_comment.user.username }}
            {% else %}
                /
            {% endif %}
        </div>
        <div class="border-latest-com">
            {% if latest_comment != None %}                                  
                    {{ latest_comment.content|truncatewords:6 }}                                 
            {% else %}
                    No comments for the moment !
            {% endif %}
        </div>
        <div class="date-latest-com">
            {% if latest_comment != None %}
                {% if today_date|date:"Y-m-d" == latest_comment.date|date:"Y-m-d" %}
                    {{ latest_comment.date|time:"H:i" }}
                {% else %}
                    {{ latest_comment.date|date:"Y-m-d" }}
                {% endif %}
            {% else %}
                /
            {% endif %}
        </div>         
    </div>

    <a class="link-com" href="{% url 'threads_' slug_thread_category=slug_thread_category slug_thread_league=slug_thread_league slug_thread_comments=match.key_id %}">
        <img src="{% static 'IMG/comment.png' %}" alt="">
        Add a comment
    </a>
</div>