{% load static %}

<div class="container-recurrent">
    <div class="grid-information">
        <div class="referee-stadium">
            <img src="{% static 'IMG/sifflet.png' %}" alt="">
            Referee:
        </div>   
        <div class="second-col">
            {% if match.referee %}
                {{ match.referee }}  
            {% else %}
                /
            {% endif %}
        </div>
        <div class="referee-stadium">
            <img src="{% static 'IMG/terrainRugby.png' %}" alt="">
            Stadium:
        </div>
        <div class="second-col">
            {% if match.stadium %}
                {{ match.stadium }}  
            {% else %}
                /
            {% endif %}
        </div>
    </div>
</div>