{% load static %}

<div class="container-recurrent">
    <div class="head-to-head">
        <div> </div>
        <div class="rating">Home</div>
        <div class="rating">Draw</div>
        <div class="rating">Away</div>
        <div class="rating">±</div>
        <div class="rationg">Total points</div>
    </div>

    <div class="head-to-head">
        <div class="bookmaker-logo">
            <img src="{% static 'IMG/WilliamHillLogo.png' %}" alt="">
        </div>
        <div class="rating">
            <div class="rating-square">
                {% if match_odds.home_odds %}
                    {{ match_odds.home_odds }}
                {% else %}
                    /
                {% endif %}
            </div>
        </div>
        <div class="rating">
            <div class="rating-square">
                {% if match_odds.draw_odds %}
                    {{ match_odds.draw_odds }}
                {% else %}
                    /
                {% endif %}
            </div>
        </div>
        <div class="rating">
            <div class="rating-square">
                {% if match_odds.away_odds %}
                    {{ match_odds.away_odds }}
                {% else %}
                    /
                {% endif %}
            </div>
        </div>
        <div class="rating">
            {% if match_odds.probable_score_diff %}
                {{ match_odds.probable_score_diff }}
            {% else %}
                /
            {% endif %}
        </div>
        <div class="rating">
            {% if match_odds.total_point %}
                {{ match_odds.total_point }}
            {% else %}
                /
            {% endif %}
        </div>
    </div>
</div>