/*--------------------------------------------------General layout of the page --------------------------------------------------*/
.page
{
    display: flex;
    flex-wrap: wrap;
}

.categories-tchats
{
    width: 25%;
    padding: 3% 1% 3% 1%;
}

.threads-tchats
{
    width: 75%;
    padding: 3% 1% 3% 1%;
}

/*-----------------------------------------------------Left part: categories-----------------------------------------------------*/
.container-grid-cate
{
    padding: 10px;
}

.grid-title                                     /* Grid for 'Categories and 'Tchats' */
{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #344D59;   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.grid-category                                  /* Grid fo club, international, other, countries and general */
{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.grid-category:not(:first-child):hover          /* The first child is the name of the column*/
{
    background-color: #cbd5e7;
    cursor: pointer;
}

.second-col                                     /* Align the arrow at the right */
{
    display: flex;
    justify-content: end;
}

.caret                                          /* Arrow */
{
    width: 0;
    height: 0;
    justify-content: end;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #344D59;
    transition: 0.3s;
}

.caret-rotate                                   /* dropDownMenu.js: to turn the arrow */
{
    transform: rotate(180deg);
}

.odd                                            /* dropDownMenu.js: odd lines */
{
    background-color: #e6e8e9;
}

.even                                           /* dropDownMenu.js: even lines */
{
    background-color: #F7F7F7;
}

.last-border                                    /* dropDownMenu.js: put boder on the last child */
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.grid-league-tchat                              /* Grid for challenge cup, top 14, proD2... */
{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}

.grid-league:hover
{
    background-color: #cbd5e7;
}

.text-check-box                                 /* Put the text and the checkbox on the left and the right */
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.league-tchat
{
    margin-left: 25px;
}

.text-check-box a
{
    text-decoration: none;
    color: black;
}

input[type="checkbox"]                          /* Changes the color when we check the checkbox */
{
    accent-color: #344D59;
}

input[type="checkbox"]:hover
{
    cursor: pointer;
}

/*-------------------------------------------------------Left part: Tchat--------------------------------------------------------*/
.container-grid-cate-tchat
{
    padding: 10px;
}

/*------------------------------------------------Leagues checked or not---------------------------------------------------------*/
.leagues-tchats-none                           /* dropDownMenu.js: do not display leagues, tchats */
{
    display: none;
}

.leagues-tchats-display                        /* dropDownMenu.js: display a league, tchat  checked */
{
    display: block;
}

/*---------------------------------------------------Right part: threads opened--------------------------------------------------*/
.container-grid-threads-tchats
{
    padding: 10px;
}

.grid-first                                   /* First grid for the words: status, opened... */
{
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.5fr 0.5fr;
    background-color:  #A9B3B8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    font-size: 14px;
}

.grid-thread
{
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.5fr 0.5fr;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.container-futur-threads                       /* Container to know where to put selected threads*/
{
    overflow-y: auto;
    max-height: 580px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-futur-threads::-webkit-scrollbar              /* Hide scroll bar */
{
    display: none;
}

.container-futur-threads .grid-thread:nth-child(odd)     /* Color for the odd grids */
{
    background-color: #F7F7F7;
}

.container-futur-threads .grid-thread:nth-child(even)    /* Color for the even grids */
{
    background-color: #e6e8e9;
}


.container-futur-threads .grid-thread:hover 
{
    background-color:   #cbd5e7;
}

.container-futur-threads .grid-thread:last-child         /* Round the edges of the last thread */
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*--------------------------------------------------------Right part: tchats-----------------------------------------------------*/
.grid-first-tchat                             /* First grid for the words: tchat, latest comment and comments */
{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 0.5fr;
    background-color:  #A9B3B8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    font-size: 14px;
}

.grid-tchat
{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 0.5fr;
    font-size: 14px;
    padding: 10px;
    background-color: #F7F7F7;
    cursor: pointer;
}

.container-futur-tchats                         /* Container to know where to put selected tchat*/
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;                           /* force rounded edges to appear */
}

.container-futur-tchats .grid-tchat:hover 
{
    background-color:   #cbd5e7;
}

.container-futur-tchats .grid-tchat:last-child  /* Round the edges of the last tchat */
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.no-thread                                             
{
    display: grid;
    justify-content: center;
    background-color: #F7F7F7;
    padding: 10px;
    font-size: 14px;
}

.element-grid                                   /* Element of the thread and tchat grid */
{ 
    display: flex;
    align-items: center;
}

/*----------------------------------------------------------Responsive web-------------------------------------------------------*/
@media screen and (max-width:800px)
{
    .categories-tchats
    {
        width: 100%;
    }

    .threads-tchats
    {
        width: 100%;
    }

    /* Left side */
    .container-grid-cate
    {
        padding: 10px 10px 5px 10px;
    }

    .container-grid-cate-tchat
    {
        padding: 10px 10px 5px 10px;
    }
    
    .grid-title                                     /* Grid for 'Category' and 'tchat' */
    {
        font-size: 14px;
    }

    .grid-category                                  /* Grid fo club, international, other, countries and general */
    {
        font-size: 12px;
    }

    .league-tchat
    {
        font-size: 12px;
    }

    /* Right side: Threads */
    .container-grid-threads
    {
        padding: 5px 10px 10px 10px;
    }

    .grid-first                                     /* First grid for the words: status, opened... */
    {
        font-size: 12px;
    }

    .grid-thread
    {
        font-size: 12px;
    }

    /* Right side: Tchats */
    .grid-first-tchat
    {
        font-size: 12px;
    }

    .grid-tchat
    {
        font-size: 12px;
    }

    .no-thread
    {
        font-size: 12px;
    }
}


