*
{
	margin:0;                     /* Pour enlever les marges du navigateur */
	padding:0;
    box-sizing: border-box;       /* Inclut les bordures et les rembourrages dans la largeur et la hauteur spécifiées */
}

a
{                                 /* Balise pour les liens */
    text-decoration: none;        /* Permet d'enlever le soulignement des liens */
}

body
{
    background-color: #242424;
    font-family: sans-serif;
}

.container-page
{
    display: flex;
    justify-content: center;
}

.page
{
    width: 700px;
    background-color: #F7F7F7;
}

/*----------------------------------------------------------Header-------------------------------------------------------*/
header
{
    padding: 10px 8px;               /* Haut et bas = 10px / Gauche et droite 5% entre les éléments de la longueur */
    background-color: #F7F7F7; 
}

header .logoRugby
{
    display: flex;
    align-items: center;
}

header .logoRugby img
{
    width: 50px;
    height: auto;
}

a img
{
    display: flex;
}

header .logoRugby h1
{
    font-size: 20px;
    color: #242424;
}

/*----------------------------------------------------------Match-------------------------------------------------------*/
.grid-player
{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr; 

    /* Espace entre les colonnes */
    column-gap: 10px; /* Vous pouvez ajuster cette valeur selon vos besoins */

    /* Ajouter une bordure pour visualiser la grille (optionnel) */
    border: 1px solid #ccc;
    padding: 10px;
}

.container-player-club
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-club
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-color: #242424;
}

.player-club img
{
    width: 50%;
}

.name-player-club
{
    padding: 10px;
}

/*------------------------------------------------------------Banner-----------------------------------------------------*/
.container-banner
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.banner
{
    margin: 5px;
    padding: 5px;
    width: 100%;
    background-color: #242424;
    color: #F7F7F7;
    border-radius: 6px;
}

/*---------------------------------------------------General Informations-----------------------------------------------*/
.container-grid
{
    padding: 10px;
    margin: 6px;
}

.grid-general-info
{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}

.grid-general-info:nth-child(odd)
{
    background-color: #A9B3B8;
}

.grid-general-info:nth-child(even)
{
    background-color: #F7F7F7;
}

.grid-general-info:first-child
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.grid-general-info:last-child
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info-player
{
    text-align: end;
}