.select
{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    border-radius: 10px;
    padding: 6px;
    margin: 0px 6px 0px 6px;
    background-color: #F7F7F7;
    border: 1px solid #242424;
    cursor: pointer;
}

.select.predic
{
    width: 95px;
    padding: 3px;
    height: 22px;
    margin: 5px;
    font-size: 13px;
}

.select:hover
{
    background-color: #A9B3B8;
}

.select.predic:hover
{
    background-color:#F7F7F7;
}

.caret
{
    position: absolute;
    width: 0;
    height: 0;
    left: 160px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #242424;
    transition: 0.3s;
}

.caret.predic
{
    left: 76px;
}

/* Js */
.caret-rotate
{
    transform: rotate(180deg);
}

.val-scrollbar
{
    padding: 6px;
    margin: 3px;  /* Permet de decaler la barre*/
    overflow: auto;
    z-index: 1;
    scrollbar-color: black;
    max-height: 150px; /* Optionnel: spécifie la hauteur maximale de la liste avant que la barre de défilement n'apparaisse */
}

.val-scrollbar.predic
{
    padding: 3px;
    margin: 1px;
}

.val
{
    margin: 5px 6px 0px 6px;
    list-style: none;
    padding: 3px;
    background-color: #F7F7F7;
    width: 180px;
    border-radius: 10px;
    display: none;
    transition: 0.2s;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.val.predic
{
    width: 95px;
    margin: 0px 0px 0px 5px;
}

.val-scrollbar::-webkit-scrollbar                /* Scroll-bar plus jolie */
{
    margin-right: 3px;
    width:5px;
}

.val-scrollbar::-webkit-scrollbar-thumb
{
    background-color: #242424;
    border-radius: 40px;
}

.val li
{
    padding: 5px;
    margin: 6px 0px 6px 0px;
    cursor: pointer;
}

.val.predic li
{
    padding: 3px;
    font-size: 13px;
}

.val li:hover
{
    background-color: #cbd5e7;
    border-radius: 10px;
}

.val-open
{
    display: block;
    z-index: 10;
}

.active
{
    background-color: #A9B3B8;
    border-radius: 10px;
}