<div class="container-recurrent">
    <div class="grid-tab-legend">
        <div> <b>MP:</b> matches played</div>
        <div> <b>W:</b> matches won</div>
        <div> <b>D:</b> matches drawn</div>
        <div> <b>L:</b> matches lost</div>
    </div>

    <div class="grid-tab-legend">
        <div> <b>P:</b> points</div>
        <div> <b>PD:</b> points difference </div>
        <div> <b>B:</b> bonus</div>
        <div> <b>F:</b> points for</div>
    </div>

    <div class="grid-tab-legend">
        <div> <b>AF:</b> average F</div>
        <div> <b>A:</b> points against</div>
        <div> <b>AA:</b> average A</div>
        <div> <b>TF:</b> tries for</div>
    </div>

    <div class="grid-tab-legend">
        <div> <b>TA:</b> tries against</div>
        <div> <b>AB:</b> attack bonus</div>
        <div> <b>DB:</b> defense bonus</div>
    </div>
</div>