{% load static %}
{% load i18n %}
{% load allauth %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- titre de la fenêtre -->
		<title>Rugby Data</title>

		<!-- précise l'encodage au navigateur (gestion des accents, ...) -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<!-- Feuilles de style -->
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/login.css' %}"-->

		<!-- Inhibe la grande largeur sur mobile : évite que le mobile présente un écran large et qu'il faille zoomer -->
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0" />

		<!-- icône de la page -->
		<link rel="icon" href="{% static 'rugbyBut.ico' %}" type="image/x-icon">
	</head>

    <body>
		<div class="bloc-connection">
			<a href="{% url 'homePage' %}">
				<img src="{% static 'IMG/joueurRugby.png' %}" alt="">
			</a>
			
			<div class="espace-connection">
				<form method="post">
					{% csrf_token %}
					<div class="title">
						<img src="{% static 'IMG/logoHeader.png' %}" alt="">
						<h1> Rugby Data </h1>
					</div>
					
					<div class="champs">
            			<input type="text" name="username" required placeholder="Username"> 
						<img src="{% static 'IMG/authentification/user.png' %}" alt="">
					</div>
					
					<div class="champs">
						<input type="password" name="password" required placeholder="Password" autocomplete="current-password webauthn">
						<img src="{% static 'IMG/authentification/lock.png' %}" alt="">
					</div>
					
					{% load socialaccount %}
					<!--a class="google-button" href="{% provider_login_url 'google' %}">
						<img src="{% static 'IMG/google.png' %}" alt="">
						<p>Se connecter avec Google</p>
					</a-->

					<button type="submit" class="connection">Log in</button>
					
					<a href="{% url 'reset_password' %}" class="reset-pw" >Forgot password?</a>

					<!-- Permet d'afficher un message d'erreur en cas d'une mauvaise saisie -->
					{% if messages %}
						<div class="message-error">
							{% for message_erreur in messages %}
								<p>{{ message_erreur }}</p>
							{% endfor %}
						</div>
					{% endif %}
				</form>

			</div>
		</div>
    </body>
	<script src="//accounts.google.com/gsi/client" async></script>
	
</html>