{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Title of the window -->
		<title>Rugby Data</title>

		<!-- Specifies encoding to the browser (management of accents, etc.) -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<!-- Style sheets -->
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/accounts/loginSignup.css' %}">

		<!-- Inhibits wide screens on mobile phones: prevents the mobile phone from having a wide screen that requires zooming in -->
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0" />

		<!-- Page icon -->
		<link rel="icon" href="{% static 'rugbyBut.ico' %}" type="image/x-icon">
	</head>

    <body>
		<div class="block-connection-signup">			
			<div class="space-connection-signup">
				<a class="title" href="{% url 'homePage' %}">
					<img src="{% static 'IMG/logoHeader.png' %}" alt="">
					<h1> Rugby Data </h1>
				</a>
				<form method="post">
					{% csrf_token %}
					
					<div class="field">
            			<input type="text" name="username" required placeholder="Username"> 
						<img src="{% static 'IMG/authentification/user.png' %}" alt="">
					</div>
					
					<div class="field">
						<input type="password" name="password1" required placeholder="Password">
						<img src="{% static 'IMG/authentification/lock.png' %}" alt="">
					</div>
					
					<div class="field">
						<input type="password" name="password2" required placeholder="Confirm your password">
						<img src="{% static 'IMG/authentification/key.png' %}" alt="">
					</div>

                    <div class="field">
						<input type="text" name="email" required placeholder="Email">
						<img src="{% static 'IMG/authentification/mail.png' %}" alt="">
					</div>
					
					<button type="submit" class="connection-signup ">Sign up</button>
	
					<!-- Displays an error message in the event of incorrect input -->
					{% if messages %}
						<div class="message-error">
							{% for message_erreur in messages %}
								<p>{{ message_erreur }}</p>
							{% endfor %}
						</div>
					{% endif %}
				</form>
			</div>
		</div>
    </body>
</html>