/*--------------------------------------------------General layout of the page --------------------------------------------------*/
.page
{
    display: flex;
    flex-wrap: wrap;
}

.prediction-part
{
    width: 100%;
    padding: 3% 1% 3% 1%;
}

a
{
    text-decoration: none;
    color: black;
}

/*-----------------------------------------------------------Prediction----------------------------------------------------------*/
.grid-title                                     /* Grid for 'Categories */
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    background-color: #344D59;   
}

.grid-prediction
{
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 10px;
}

.container-prediction .grid-prediction:nth-child(odd)
{
    background-color: #F7F7F7;
}

.container-prediction .grid-prediction:nth-child(even)    /* Color for the even grids */
{
    background-color: #e6e8e9;
}

.container-prediction .grid-prediction:hover 
{
    background-color:   #cbd5e7;
}

.container-prediction .grid-prediction:last-child
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.column-1-6
{
    grid-column: 1 / 7;
}
