{% load static %}

<div class="container-recurrent" id="1matchesContainer3">                     
    {% for result, m in last_matches_away_team %}
        <div class="grid-h2h">
            <div class="date-h2h">
                {{ m.date|date:"d/m/Y" }}
            </div>
            <div class="league-h2h">
                {{ m.competition }}
            </div>
            <div class="teams-h2h t1">
                <img src="{{ m.home_team.logo }}" alt="">
                {{ m.home_team.name }}
            </div>
            <div class="teams-h2h t2">
                <img src="{{ m.away_team.logo }}" alt="">
                {{ m.away_team.name }}
            </div>
            <div class="scores-h2h te1">
                {{ m.home_score }}
            </div>
            <div class="scores-h2h te2">
                {{ m.away_score }}
            </div>
        </div>
    {% endfor %}
</div>

<div class="container-show-more-arrow">
    <button class="button-more" data-target="1matchesContainer3">
        Show more
        <img src="{% static 'IMG/arrowMore.png' %}" alt="">
    </button> 
</div>