{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Title of the window -->
		<title>Rugby Data</title>

		<!-- Specifies encoding to the browser (management of accents, etc.) -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<!-- Style sheets -->
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/headerFooter.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/homePage/homePage.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/homePage/rank_table.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/homePage/league_table.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/slider.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/homePage/responsiveHomePage.css' %}">

		<!-- Inhibits wide screens on mobile phones: prevents the mobile phone from having a wide screen that requires zooming in -->
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0" />

		<!-- Page icon -->
		<link rel="icon" href="{% static 'rugbyBut.ico' %}" type="image/x-icon">
	
	</head>

    <body>
       <!-- Entête -->
	   <header>
			<a href="{% url 'homePage' %}" class="logoRugby">
				<img src="{% static 'IMG/logoHeader.png' %}" alt="">
				<h1> Rugby Data </h1>
			</a>

			<ul class="menu">
				<li> <a href="{% url 'standings' %}"> Standings </a> </li>
				<li> <a href="{% url 'fora' %}"> Fora </a></li>
			</ul>
			
			{% if user.is_authenticated %}
				<button class="button-link-connexion">
					{{ user.username}} 
					| 
					<a href="{% url 'logout_user' %}">Log out</a>
				</button>
			{% else %}
				<button class="button-link-connexion">
					<a href="{% url 'login_user' %}"> Log in </a> 
					| 
					<a href="{% url 'signup_user' %}"> Sign up </a>
				</button>
			{% endif %}
			
			<!-- Menu déroulant quand la fenêtre devient petite -->
			<div class="petit-menu">
				<span>
					<div></div>
					<div></div>
				</span>
				<span>
					<div></div>
					<div></div>
				</span>
			</div>
		</header>

		<div class="page">
			<div class="left-column">
				<!--div class="container-grid-cate">   
					<div class="grid-title">
						Favorites leagues
					</div>
					
					{% for country, categories in categories_by_country.items %}
						<div class="grid-country">
							{{ country }}
							<div class="second-col">
								<div class="caret"></div>
							</div>
						</div>
						<div class="grid-categories-none" id="{{ country }}">
							{% for category in categories %}
								<div class="grid-cate text-check-box">
									<span class="text-league">{{ category.title }}</span>
									<input type="checkbox" class="category-checkbox" data-url="#">
								</div>
							{% endfor %}
						</div>
					{% endfor %}     
				</div-->
			</div>

			<div class="middle-column">
				{% for match in upcoming_matches %}
					<a href="{% url 'presentationMatch' slug_match=match.key_id %}" class="grid-match">
						<div class="illustration"> 
							<img src="{% static 'IMG/rugbyBut.png' %}" alt="">
						</div>
						<div class="date">
							{% if today_date == match.date %}
								Today
							{% elif tomorrow_date == match.date %}
								Tomorrow
							{% else %}
								{{ match.date }}
							{% endif %}
						</div>
						<div class="hour"> 
							{{ match.kickoff }}
						</div>
						<div class="team-home"> 
							<img src="{% static 'IMG/trophee.png' %}" alt="">
							<!-- match.home_team est un objet team (clé étrangère)-->
							{{ match.home_team.name }}
						</div>
						<div class="team-away">
							<img src="{% static 'IMG/trophee.png' %}" alt="">
							{{ match.away_team.name }}
						</div>
					</a>
				
				{% endfor %}
			</div>

			<div class="right-column">
				
			</div>
		</div>
		
		<footer>
			<div class="plan">
				<li> <a href="{% url 'imgSources' %}"> Image sources </a> </li>
			</div>
		</footer>
	</body>

	<!-- Sript pour le petit menu déroulant -->
	<script src="{% static 'JS/script_menu.js' %}"></script>

	<!-- Script pour le défilement des tableaux -->
	<script src="{% static 'JS/slider.js' %}"></script>

	<!-- Script pour le défilement des tableaux -->
	<script src="{% static 'JS/dropDownMenu.js' %}"></script>

</html>

