{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Title of the window -->
		<title>Rugby Data</title>

		<!-- Specifies encoding to the browser (management of accents, etc.) -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<!-- Style sheets -->
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/headerFooter.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/website/homePage.css' %}">

		<!-- Inhibits wide screens on mobile phones: prevents the mobile phone from having a wide screen that requires zooming in -->
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0" />

		<!-- Page icon -->
		<link rel="icon" href="{% static 'rugbyBut.ico' %}" type="image/x-icon">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
	</head>

    <body>
	   <header>
			<a href="{% url 'homePage' %}" class="logoRugby">
				<img src="{% static 'IMG/logoHeader.png' %}" alt="">
				<h1> Rugby Data </h1>
			</a>

			<ul class="menu">
				<li> <a href="{% url 'fixtures' %}"> Fixtures </a></li>
				<li> <a href="{% url 'fora' %}"> Forum </a></li>
			</ul>
			
			{% if user.is_authenticated %}
				<button class="button-link-connexion">
					{{ user.username}} 
					| 
					<a href="{% url 'logout_user' %}">Log out</a>
				</button>
			{% else %}
				<button class="button-link-connexion">
					<a href="{% url 'login_user' %}"> Log in </a> 
					| 
					<a href="{% url 'signup_user' %}"> Sign up </a>
				</button>
			{% endif %}
			
			<!-- Drop-down menu when window becomes small -->
			<div class="petit-menu">
				<span>
					<div></div>
					<div></div>
				</span>
				<span>
					<div></div>
					<div></div>
				</span>
			</div>
		</header>

		<div class="page">
			<div class="prediction-part">
				<div class="grid-title">
					<div> Match predicted </div>
					<div> Margin </div>
					<div> Total </div>
					<div> Margin </div>
					<div> Total </div>
					<div> </div>
				</div>
				<div class="container-prediction">
					{% if user.is_authenticated %}
						{% for predic in user_prediction %}
							<div class="grid-prediction">
								<div> {{ predic.prediction_match.key_id }} </div>
								<div> 
									{% if predic.prediction_margin1 %}
										{{ predic.prediction_margin1 }} 
									{% else %}
										/
									{% endif %}
								</div>
								<div> 
									{% if predic.prediction_total1 %}
										{{ predic.prediction_total1 }} 
									{% else %}
										/
									{% endif %}
								</div>
								<div> 
									{% if predic.prediction_margin2 %}
										{{ predic.prediction_margin2 }} 
									{% else %}
										/
									{% endif %}
								</div>
								<div> 
									{% if predic.prediction_total2 %}
										{{ predic.prediction_total2 }} 
									{% else %}
										/
									{% endif %}
								</div>
								<div> </div>
							</div>
						{% endfor %}
					{% else %}
						<div class="grid-prediction">
							<div class="column-1-6"> Log in to see your predictions </div> 
						</div>
					{% endif %}
				</div>
				
			</div>		

		</div>
		
		<footer>
			<div class="plan">
				<li> <a href="{% url 'imgSources' %}"> Image sources </a> </li>
			</div>
		</footer>

		<!-- Script for the small menu -->
		<script src="{% static 'JS/script_menu.js' %}"></script>
	</body>

	

</html>

