{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- title of the window -->
		<title>Rugby Data</title>

		<!-- Specifies encoding to the browser (management of accents, etc.) -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<!-- Style sheets -->
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/headerFooter.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/sourcePages/sourcePages.css' %}">

		<!-- Inhibits wide screens on mobile phones: prevents the mobile phone from having a wide screen that requires zooming in -->
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0" />

		<!-- Page icon -->
		<link rel="icon" href="{% static 'rugbyBut.ico' %}" type="image/x-icon">
	
	</head>

    <body>
        <header>
			<a href="{% url 'homePage' %}" class="logoRugby">
				<img src="{% static 'IMG/logoHeader.png' %}" alt="">
				<h1> Rugby Data </h1>
			</a>

			<ul class="menu">
				<li> <a href="{% url 'fixtures' %}"> Fixtures </a></li>
				<li> <a href="{% url 'fora' %}"> Forum </a></li>
			</ul>
			
			{% if user.is_authenticated %}
				<button class="button-link-connexion">
					{{ user.username}} 
					| 
					<a href="{% url 'logout_user' %}">Log out</a>
				</button>
			{% else %}
				<button class="button-link-connexion">
					<a href="{% url 'login_user' %}"> Log in </a> 
					| 
					<a href="{% url 'signup_user' %}"> Sign up </a>
				</button>
			{% endif %}
			
			<!-- Drop-down menu when the window becomes small -->
			<div class="petit-menu">
				<span>
					<div></div>
					<div></div>
				</span>
				<span>
					<div></div>
					<div></div>
				</span>
			</div>
		</header>

		<div class="page">
			<div class="container-grid">
				<div class="grid-source">
					<div>
						Pictures
					</div>
					<div>
						Sources
					</div>
				</div>
				{% for source in img_sources %}
					<div class="grid-source">
						<div>
							<img src="{% static source.image_url %}" alt="">
						</div>
						<a href="{{ source.image_source }}">
							{{ source.image_source }}
						</a>

					</div>
				{% endfor %}
			</div>
		</div>
		
		<footer>
			<div class="plan">
				<li> <a href="{% url 'imgSources' %}"> Image sources </a> </li>
			</div>
		</footer>
    </body>

	<!-- Script for the small drop-down menu -->
	<script src="{% static 'JS/script_menu.js' %}"></script>
</html>